*{
  box-sizing: border-box;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

section{
  background-color: rgba(214, 214, 214, 0.479);
  box-shadow: inset 1px 2px 3px rgb(230, 230, 230);
  padding: 90px 20px 10px 120px;
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

a{
  color: black;
  text-decoration: none;
}

.thumbnail {
  width: 100%;
}

.search-bar {
  display: block;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.thumbnail-row img{
  border-radius:20px;
  transition: 0.3s;
}

.thumbnail-row img:hover{
  margin-top: -10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

header{
  height: 70px;
  display: flex;
  padding: 10px 0px ;
  border-bottom: 1px solid rgb(190, 190, 190);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}

.section-left{
  width: 250px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.hamn{
  width: 30px;
  margin-right: 40px;
  margin-left: 30px;
}
.logo{
  height: 20px;
}

.section-middle{
  flex: 1;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-middle input{
  flex:1;
  width: 0;
  height: 36px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: 1px solid gray;
  box-shadow: inset 1px 2px 3px rgb(228, 228, 228);
  background-color: rgb(248, 248, 248);
  transition: 0.5s;
}

.section-middle input:hover{
  background-color: rgb(236, 236, 236);
}

.section-middle input::placeholder{
  font-size: 17px;
  padding-left: 20px;
}

.search{
  width: 60px;
  height: 36px;
  margin-left: -2px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid gray;
  box-shadow: inset 1px 2px 3px rgb(228, 228, 228);
  background-color: rgb(248, 248, 248);
  transition: 0.5s;
}

.search:hover{
  background-color: rgb(236, 236, 236);
}

.voice{
  border-radius: 20px;
  border: none;
  width: 36px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(248, 248, 248);
  box-shadow: inset 1px 2px 3px rgb(228, 228, 228);
  transition: 0.5s;
}

.voice:hover{
  background-color: rgb(236, 236, 236);
}

.voice img{
  width: 10px;
  margin-left: -2px;
}

.section-middle button img{
  width: 30px;
}

.section-right{
  width:200px;
  display: flex;
  align-items:center;
  justify-content: space-around;
}

#channel-pic{
  width: 35px;
  border-radius: 20px;
}

.section-right img{
  width: 24px;
}

nav{
  background-color: red;
  position: fixed;
  top: 70px;
  width: 100px;
  height: 100%;
  background-color: white;
  border-right: 1px solid rgb(190, 190, 190);
}

nav div:hover{
  background-color: rgb(240, 240, 240);
}

nav div{
  width: 98px;
  height: 60px;
  padding:10px 0px 80px;
  font-size: 12px;
  transition: 0.5s;
}

nav div img{
  width: 30px;
  margin-left: 33px;
}

nav div p{
  margin-left: 32px;
}

.subs{
  margin-left: 10px;
}

.ori{
  margin-left: 25px;
}
.noti{
  position: relative;
}

.noti-count{
  position: absolute;
  background-color: red;
  bottom: 13px;
  right: 0;
  color: white;
  font-size: 11px;
  padding: 2px 4px 2px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 562px) {
  .video-grid{
    grid-template-columns: 1fr;
  }

  .section-right{
    display: none;
  }

  .section-middle{
    display: none;
  }
}

@media (max-width: 425px) {
  .video-grid{
    grid-template-columns: 1fr;
  }
}
